
.container {
  min-height: inherit;
}

.container,
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 1rem;
  width: 30%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);
  margin-top: 10%;
}

h1 {
  margin-top: 0;
}

input {
  min-width: 300px;
  padding: 10px;
  margin-top: 5%;
}

.links ul {
  margin-top: 1rem;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.links a:hover {
  text-decoration-thickness: 1px;
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  font-weight: bold;
  line-height: 1;
  font-size: 1.125rem;
  padding: 0.625em 1em;
  border: 0;
  margin: 0;
  margin-top: 5%;
  border-radius: 4px;
}
.btn:hover {
  background: #7c7c7c6b;
}
