name: test

on:
  push:
    branches:
      - main
    paths-ignore:
      - ".vscode/**"
      - "**/*.md"
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - main
    paths-ignore:
      - ".vscode/**"
      - "**/*.md"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Typecheck
        run: npm run typecheck

      - name: Build
        run: npm run build

  deploy:
    if: github.event_name == 'push'
    needs: build
    uses: ./.github/workflows/deploy.yml@main
    with:
      app_name: our-recipes-kitchen-surfers
    secrets:
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      HEROKU_EMAIL: ${{ secrets.HEROKU_EMAIL }}
